body{
         background-color: #90EE90 ;
        }



h1 {font-family: 'COMIC SANS MS', CURSIVE;  font-size: 50px; color:#228B22;
        margin: 10px;
	}
	
p {
        font-family:  'Times New Roman', Times, serif;
        font-size: 24px; line-height:0.7cm;   text-align: justify;
    }
p1 {font-family: 'Times New Roman', Times, serif;
        font-size: 12px;  text-align; right; 
		line-height: 0.8cm; letter-spacing: 0.2mm;
	}
		
p2 {font-family: 'Times New Roman', Times, serif;
        font-size: 12px;  text-align: left; 
		line-height: 0.8cm; letter-spacing: 0.2mm;
	}
p3 {font-family: 'Times New Roman', Times, serif;
        font-size: 12px;  text-align: right;
		line-height: 0.8cm; letter-spacing: 0.2mm;
	}
	
li{font-family: 'COMIC SANS MS', CURSIVE;
        font-size: 24px; color: #228B22;  }
		
hr { border-color: #228B22;
	
	}
	
	strong {color:#008B00; font-style: oblique; }

   .casemadeira { display: flex;
     align-items: center;


	 fieldset { background-color: #32CD32; }
